{% trans_default_domain 'FOSUserBundle' %}

<div class="col-sm-5 col-sm-offset-4">
    <div class="login-form"><!--login form-->
        <h2>Kayıt Ol</h2>
{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
    {{ form_widget(form) }}
    <div>
        <input type="submit" value="{{ 'registration.submit'|trans }}" />
    </div>
{{ form_end(form) }}
    </div><!--/login form-->
</div>