<div class="row mb-20">
    <div class="col-sm-12">
        <div class="btn-group pull-right">
            <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle usa" data-toggle="dropdown">
                    {{ app.request.get('sortText') | default('Sıralama') }}
                </button>
                <ul class="dropdown-menu dropdown-menu-left">
                    <li><a href="?sorting=priceAsc&sortText=Ucuzdam-Pahalıya">Fiyatına Göre (Ucuzdan Pahalıya)</a></li>
                    <li><a href="?sorting=priceDesc&sortText=PahalıdanUcuzdam-Ucuza">Fiyatına Göre (Pahalıdan Ucuza)</a></li>
                    <li><a href="?sorting=createdAsc&sortText=Yeniden-Eskiye">Tarihe Göre (Yeniden Eskiye) </a></li>
                    <li><a href="?sorting=createdDesc&sortText=Eskiden-Yeniye">Tarihe Göre (Eskiden Yeniye) </a></li>
                </ul>
            </div>
        </div>
    </div>
</div>